@model InspectorLogWebApplication.Models.Inspection

@{
    ViewData["Title"] = "Проверка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.ToShortDateString())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            Фамилия инспектора
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inspector.LastName)
        </dd>
        <dt class="col-sm-2">
            Имя инспектора
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inspector.FirstName)
        </dd>
        <dt class="col-sm-2">
            Отчество инспектора
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inspector.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>
