@model IEnumerable<InspectorLogWebApplication.Models.Inspection>

@{
    ViewData["Title"] = "Проверки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список проверок</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspector.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enterprise.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
            </td>
        </tr>
}
    </tbody>
</table>
